common:
	parameters:
		database:
			driver: mysql
			host: localhost
			dbname: guidebook
			user: root
			password:


	php:
		date.timezone: Europe/Prague
		session.save_path: '%tempDir%/sessions'
		# zlib.output_compression: yes


	nette:
		session:
			expiration: '+ 14 days'

		database:
			default:
				dsn: '%database.driver%:host=%database.host%;dbname=%database.dbname%'
				user: %database.user%
				password: %database.password%


	services:
		database: @Nette\Database\Connection
		authenticator: Authenticator( @models.users )
		authorizator: Authorizator

		models: Nette\DI\NestedAccessor(@container, 'models')
		models.users: Users
		models.areas: Areas
		models.forums: Forums
		models.areaComments: AreaComments


	factories:

production < common:

development < common:
